


<ion-header>
  <app-nav-bar
  [newsTitle]="'NOTICIAS CARPIO 3E2 '"
  (buscarEvent)="onBuscar($event)">
  </app-nav-bar>
</ion-header>

<ion-content>
  <ion-row >
    <ng-container *ngFor="let noticia of noticias">
    <ion-col size="12" size-md="6" size-lg="4" class="color-row">
      <app-news-card
        [Title]="noticia.title"
        [description]="noticia.desc"
        [img]="noticia.img"
        class="imagen200px"
      ></app-news-card>
    </ion-col>
  </ng-container>
  </ion-row>
</ion-content>
